<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Section 4 Details</title>
</head>
<body>

    <h1>Defending Against Social Engineering and Phishing</h1>
    <p>
        Social engineering is the art of manipulating people into giving up confidential information. Phishing (via email), smishing (via SMS), and vishing (via phone calls) rely on creating a false sense of urgency, fear, or excitement. Attackers often customize these scams using public details gleaned from your social media accounts to make their requests look authentic. True defense requires building a habit of "healthy skepticism." Never use contact details provided within a suspicious message; instead, independently look up the official phone number or URL of the institution claiming to reach out to you.
    </p>

    
    <a href="{% url 'home:information-centre' %}">Back to Information Centre</a>

</body>
</html>