<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Section 4 Details</title>
</head>
<body>

    <h1>Hardening Your Devices and Maximizing Privacy Settings</h1>
    <p>
        "System hardening" is the process of securing a system by reducing its surface of vulnerability. This means auditing application permissions to stop apps from tracking your location, accessing your contacts, or listening to your microphone in the background. Furthermore, running outdated software leaves your devices vulnerable to known exploits. Enabling automatic operating system updates patches these digital entry points. A thorough "data detox" also involves closing old, forgotten accounts that act as silent liabilities to your security.
    </p>

    
    <a href="{% url 'home:information-centre' %}">Back to Information Centre</a>

</body>
</html>